language: python
sudo: false
python:
  - "3.3"
  - "3.4"
cache:
  directories:
    - $HOME/.pip-cache/
    - /home/travis/virtualenv/
# command to install dependencies
install: "pip install -r requirements.txt --download-cache $HOME/.pip-cache"
# command to run tests
script: nosetests tests
